@import '../../scss/media.scss';
.wrapper {
  background-color: #f4f0f0;
}

.topSection {
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  img {
    width: 174px;
    margin: 0 70px;
  }
}

.textSide {
  flex: 1 0 70%;
}

@media (max-width: $screen-md) {
  .topSection {
    img {
      display: none;
    }
  }
}
