@import '../../scss/media.scss';

.card {
  padding: 0 50px 100px;
  text-align: center;
  img {
    width: 196px;
    border-radius: 50%;
    margin-bottom: 50px;
  }
}
.role {
  text-transform: uppercase;
  font-size: 13px;
}
.description {
  margin-top: 50px;
  text-align: start;
}

.modalTrigger {
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: underline;
  padding-left: 5px;
}

.modalCard {
  padding: 50px;
  text-align: center;
  img {
    width: 196px;
    border-radius: 50%;
    margin-bottom: 50px;
  }
}

@media (max-width: $screen-md) {
  .card {
    padding: 0 50px 70px;
    img {
      width: 110px;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 20px;
    }
  }
  .role {
    font-size: 11px;
  }
  .modalTrigger {
    font-size: 11px;
  }
}

@media (max-width: $screen-lg) {
  .card {
    padding: 0 50px 70px;
    img {
      width: 146px;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 18px;
    }
  }
  .role {
    font-size: 10px;
  }
  .description {
    margin-top: 30px;
  }
  .modalTrigger {
    font-size: 10px;
  }
}
