.card {
  padding: 0 50px 100px;
  text-align: center;
  img {
    width: 196px;
    border-radius: 50%;
    margin-bottom: 50px;
  }
}
.role {
  text-transform: uppercase;
  font-size: 13px;
}
.description {
  margin-top: 50px;
  text-align: start;
}
