.wrapper {
  margin: 30px 0;
  background-size: cover;
  background-position: center;
}
.ctaContainer {
  padding: 150px 0;
  // border: 1px solid red;
  display: flex;
  justify-content: space-around;
}
.textSide {
  flex: 0 0 50%;
}
.btnSide {
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    background-color: #ffffff;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 6px 6px 2px #35353530;
    &:hover {
      text-decoration: none;
    }
  }
}
