.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 60px;
    padding-left: 30px;
  }
}

.navMobile {
  float: right;
  img {
    width: 30px;
  }
}
.modalWidth {
  width: 100%;
}
.modalContent {
  // padding-left: 10px;
}
