@import '../../scss/media.scss';

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 60px;
    padding-left: 30px;
  }
}

.navMobile {
  float: right;
  img {
    width: 30px;
  }
}
.modalWidth {
  width: 100%;
}

@media (max-width: $screen-md) {
  .navContent {
    img {
      width: 50px;
    }
  }
}
