@import '../../scss/media.scss';
.wrapper {
  background-color: #f4f0f0;
}

.footer {
  padding: 100px 0 50px 0;
  text-align: center;

  img {
    width: 200px;
    margin: 100px 0;
  }

  p {
    margin: 0;
  }
  p:last-of-type {
    font-size: 13px;
  }
}

@media (max-width: $screen-sm) {
  .footer {
    padding: 40px 0 30px;
    img {
      width: 100px;
      margin: 40px 0;
    }
  }
}
@media (max-width: $screen-lg) {
  .footer {
    padding: 60px 0 40px;
    img {
      width: 150px;
      margin: 40px 0;
    }
    p:last-of-type {
      font-size: 10px;
    }
  }
}
