@import '../../scss/fonts.scss';
@import '../../scss/media.scss';

.resources {
  display: flex;
  padding: 100px 0;
}

.title {
  flex: 0 0 40%;
  text-align: center;
}

.list {
  ul {
    font-weight: $semi-bold;
    list-style: none;

    img {
      display: inline-block;
      width: 10px;
    }
  }
  li {
    line-height: 36px;

    a {
      color: black;
    }
  }
  li span {
    position: relative;
    left: 10px;
  }
}

@media (max-width: $screen-sm) {
  .resources {
    display: block;
    padding: 10px 0 30px;
  }
  .title {
    text-align: start;
  }
  .list {
    ul {
      padding: 0;
    }
  }
}
@media (max-width: $screen-md) {
  .resources {
    padding: 15px 0 30px;
  }
}
@media (max-width: $screen-lg) {
  .resources {
    padding: 50px 0;
  }
}
