@import '../../scss/fonts.scss';
@import '../../scss/media.scss';

.list {
  ul {
    font-weight: $semi-bold;
    list-style: none;
    padding-left: 0;

    img {
      display: inline-block;
      width: 10px;
    }
  }
  li {
    line-height: 36px;

    a {
      color: black;
    }
  }
  li span {
    position: relative;
    left: 10px;
  }
}

@media (max-width: $screen-sm) {
  .resources {
    display: block;
  }
  .title {
    text-align: start;
  }
  .list {
    ul {
      padding: 0;
    }
  }
}

@media (max-width: $screen-xs) {
  .title {
    h2 {
      margin: 5px 0 20px 0;
    }
  }
}

