@import '../../scss/fonts.scss';
.resources {
  display: flex;
  padding: 100px 0;
}

.title {
  flex: 0 0 40%;
  text-align: center;
}

.list {
  ul {
    font-weight: $semi-bold;
    list-style: none;

    img {
      display: inline-block;
      width: 10px;
    }
  }
  li {
    line-height: 36px;

    a {
      color: black;
    }
  }
  li span {
    position: relative;
    left: 10px;
  }
}
